body
{
	background-color:#282e3a;
}
h3 {
    position: absolute;
    top: 500px;
}
.flat-anim
{
    position: absolute;
    top: 100px;
    left: 100px;
	display: block;
	width: 400px;
	height: 300px;
	background-color: rgba( 105, 67, 37, 0.978 );
    border: 10px solid;
    border-color: rgba( 2, 2, 2, 0.978 );
	border-radius: 50px;
    margin: auto;
}
.flat-anim:after
{
	content: "";
	background-color: rgba( 248, 47, 47, 0.956 );
	width: 60px;
	height: 30px;
    border: 8px solid;
	border-radius: 20px;
	position: absolute;
	top: 20px;
	right: 20px;
}
.flash 
{
    position: absolute;
    top: 50px;
    left: 250px;
    display: block;
    width: 100px;
    height: 50px;
    background-color: #ecddd4;
    border: 10px solid;
    border-radius: 30% 30% 0 0;
}
.bottom
{
	width: 400px;
	height: 120px;
	display: block;
	z-index: 10;
	background-color: rgba( 94, 47, 28, 0.956 );
	border-radius: 0 0 40px 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top:15px solid rgba( 63, 44, 43, 0.956 );
	-webkit-box-shadow: inset 0 -15px 0 0 
        rgba( 63, 44, 43, 0.956 );
}
.bottom:before
{
	content: "";
	background-color: #282e3a;
	width: 250px;
	height: 30px;
	display: block;
	margin: 14px auto 0 auto;
}
.bottom:after{
	content: "";
	position: absolute;
	top: 33px;
	left: 136px;
	width: 130px;
	height: 50px;
	display: block;
	background-color: #ecf0f1;
    border: 5px solid black;
    border-top: 14px solid #c3d1dd;
	border-bottom: 14px solid rgba( 63, 44, 43, 0.956 );
    -webkit-box-shadow: 0 14px 0 0 rgba( 63, 44, 43, 0.956), 0 -16px 0 0 #c3d1dd;
    -moz-box-shadow:0 14px 0 0 rgba( 63, 44, 43, 0.956 ),
    0 -16px 0 0 #c3d1dd;
	box-shadow:0 14px 0 0 #c3d1dd, 0 -16px 0 0 #c3d1dd;
}
.eye
{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: #0d232a;
	display: block;
	margin:60px auto 0;
	z-index: 20;
	position: relative;
	-webkit-box-shadow:	0	0		0	22px	#3e5489,
						0 	0 		0 	30px 	#1c3666,
						0 	0 		0 	40px 	#ecf0f1,
						0 	10px 	0 	45px 	rgba(0,0,0,0.2);
}
.eye:before
{
	content: "";
	background-color: #a3bfd5;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	position: absolute;
	top: -16px;
	left: -16px;
}
.eye:after
{
	content: "";
	background-color: #6078a3;
	width: 16px;
	height: 16px;
	border-radius: 16px;
	position: absolute;
	top: 30px;
	left: 30px;
}

/* Animation */
.flat-anim {
  -webkit-animation: flatAnimation 5s infinite;
}
@-webkit-keyframes flatAnimation {
  0% {
	  -webkit-transform: rotate(50deg) scale(0.5); 
  }
  13% {
	  -webkit-transform: rotate(-22deg) scale(1.2); 
  }
  20% {
	  -webkit-transform: rotate(0) scale(1); 
  }
  95% {
	  -webkit-transform: rotate(0) scale(1); 
  }
  100% {
	  -webkit-transform: rotate(50deg) scale(0.5); 
  }
}

.flash {
    -webkit-animation: flashAnimation 5s infinite;
}
@-webkit-keyframes flashAnimation {
  0% {
	  -webkit-transform: rotate(50deg) scale(0.5);
      opacity: 0;
  }
  13% {
	  -webkit-transform: rotate(-22deg) scale(1.2);
      opacity: 0;
  }
  20% {
	  -webkit-transform: rotate(0) scale(1);
      opacity: 1;
  }
  95% {
	  -webkit-transform: rotate(0) scale(1);
      opacity: 1;
  }
  96% {
	  -webkit-transform: rotate(0) scale(1);
      opacity: 0;
  }
  100% {
	  -webkit-transform: rotate(50deg) scale(0.5);
      opacity: 0;
  }
}

.eye,
.flat-anim:before,
.flat-anim:after {
  -webkit-animation: eyeAnimation 5s infinite;
}
.flat-anim:before{
    -webkit-animation-delay: 50ms;
    -moz-animation-delay: 50ms;
    -o-animation-delay: 50ms;
    animation-delay: 50ms;
}
.flat-anim:after{
    -webkit-animation-delay: 50ms;
    -moz-animation-delay: 50ms;
    -o-animation-delay: 50ms;
    animation-delay: 50ms;
}
@-webkit-keyframes eyeAnimation {
  0% {
	  opacity: 0;
	  -webkit-transform: scale(0.1); 
  }
  12% {
	  opacity: 0;
	  -webkit-transform: scale(0.1);
  }
  13% {
	  opacity: 1;
	  -webkit-transform: scale(0.1);
  }
  20% {
	  opacity: 1;
	  -webkit-transform: scale(1.4); 
  }
  25% {
	  -webkit-transform: scale(1); 
  }
  95% {
	  -webkit-transform: scale(1); 
	  opacity: 1;
  }
  100% {
	  opacity: 0;
	  -webkit-transform: scale(0.1); 
  }
}

.bottom:before
{
  -webkit-animation: bottomAnimation 5s infinite;
}

@-webkit-keyframes bottomAnimation {
  0% {
	  opacity: 0;
      width: 0;
  }
  20% {
	  opacity: 0;
      width: 0;
  }
  21% {
	  opacity: 0;
      width: 0;
  }
  22% {
	  opacity: 1;
      width: 100px;
  }
  25% {
	  opacity: 1;
  	  width: 180px;
  }
  30% {
	  opacity: 1;
  	  width: 250px;
  }
  60% {
  	  width: 250px;
	  opacity: 1;
  }
  96% {
	  opacity: 1;
      width: 250px;
  }
  100% {
	  opacity: 0;
      width: 0;
  }
}
.bottom:after
{
  -webkit-animation: bottomAfterAnimation 5s infinite;
}

@-webkit-keyframes bottomAfterAnimation {
  0% {
	  opacity: 0;
      height: 0;
      border: 0;
  }
  25% {
	  opacity: 0;
      height: 0;
      border: 0;
  }
  26% {
	  opacity: 1;
      border: 0;
      height: 0;
  }
  26% {
	  opacity: 1;
      border: 0;
      height: 0;
      border-top-width: 1px;
  }
  28% {
	  opacity: 1;
      border: 0;
      height: 0;
      border-top-width: 16px;
  }
  28% {
	  opacity: 1;
      height: 40px;
      border-top-width: 16px;
      border-bottom-width: 14px;
  }
  95% {
	  opacity: 1;
      height: 40px;
      border-top-width: 16px;
      border-bottom-width: 14px;
  }
  100% {
	  opacity: 0;
	  height: 0;
      border: 0;
  }
}
